<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        @page {
            margin: 0cm 0cm;
            size: auto;
        }

        .color-title {
            color: #003b6f;
        }

        .bold {
            font-weight: bold;
        }

        hr {
            color: #003b6f;
            height: 0px;
            margin-top: 25px;
            margin-bottom: 15px;
            border: 1px dashed #6faed2;
        }

        body {
            margin-top: 0.5cm;
            margin-left: 1cm;
            margin-right: 1cm;
            margin-bottom: .5cm;
            font-family: 'Helvetica', 'Arial', sans-serif;
            font-size: 10px;
            color: #062b49;
            background: url("{{BASE_URL}}/static/img/.svg") no-repeat fixed center;
            -webkit-print-color-adjust: exact;
            print-color-adjust: exact;
        }

        body>div:first-child {
            border-radius: 6px;
            background: #ffffff;
            outline: 1px solid rgba(0, 119, 182, .12);
            box-shadow: inset 0 4px 0 #0077b6, 0 1px 7px rgba(0, 59, 111, .12);
        }

        .w-100 {
            width: 100%
        }

        .text-base {
            font-size: 12px;
        }

        .table-border td {
            padding: 3px 4px;
            margin: 0px;
            border: 1px solid #b9d9eb;
            border-collapse: collapse;
            border-spacing: 0px;
            line-height: 1.22;

        }

        .table-border th {
            color: #00253f;
            background: linear-gradient(90deg, #00b0ff 0%, #28c2ff 100%);
            padding: 3px 4px;
            border: 1px solid #0784bd;
            border-collapse: collapse;
            border-spacing: 0px;
            font-size: 8.5px;
            font-weight: 700;
            letter-spacing: .25px;
            text-transform: uppercase;
        }

        .table-border {
            border: 1px solid #0b8fc8;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0 1px 4px rgba(0, 75, 128, .16);
        }

        .table-border>tbody>tr:nth-child(1) td,
        .table-border>tbody>tr:nth-child(2) td,
        .table-border>tbody>tr:nth-child(3) td,
        .table-border>tbody>tr:nth-child(4) td {
            background: #f7fbff;
        }

        .table-border td table tr:nth-child(even) td {
            background: #f8fcff;
        }

        .sin_borde {
            padding: 5px;
            border-top: 0px;
            border-right: 0px;
            border-bottom: 1px solid black;
            border-left: 0px;
        }

        .text-center {
            text-align: center;
        }

        .cash-payment-box {
            box-sizing: border-box;
            width: 100%;
            min-height: 46px;
            padding: 6px 8px;
            border: 1px solid #a9cfe6;
            border-left: 4px solid #0077b6;
            border-radius: 6px;
            background: linear-gradient(90deg, #f7fbff 0%, #ffffff 100%);
        }

        .cash-payment-title {
            display: block;
            margin-bottom: 4px;
            color: #003b6f;
            font-size: 9px;
            font-weight: bold;
            letter-spacing: .15px;
        }

        .cash-payment-content {
            display: table;
            width: 100%;
        }

        .cash-payment-logos {
            display: table-cell;
            width: 68%;
            vertical-align: middle;
            white-space: nowrap;
        }

        .cash-payment-logo {
            display: inline-block;
            width: auto;
            height: 23px;
            max-width: 92px;
            margin-right: 14px;
            vertical-align: middle;
        }

        .cash-payment-agreement {
            display: table-cell;
            width: 32%;
            vertical-align: middle;
            text-align: right;
        }

        .cash-payment-agreement span {
            display: inline-block;
            padding: 4px 9px;
            border: 1px solid #7fb6d6;
            border-radius: 12px;
            background: #eef8ff;
            color: #003b6f;
            font-size: 10px;
            font-weight: bold;
            letter-spacing: .2px;
            box-shadow: inset 0 0 0 1px #ffffff;
        }

        .total-ordinary,
        .total-extraordinary {
            padding: 5px 6px !important;
            color: #001f35;
            font-weight: 700;
            border-left: 3px solid #003b6f !important;
            line-height: 1.25;
        }

        .total-ordinary {
            background: linear-gradient(90deg, #c8ffb8 0%, #64dd17 100%) !important;
        }

        .total-extraordinary {
            background: linear-gradient(90deg, #ffb3c0 0%, #ff1744 100%) !important;
        }


        header {
            position: fixed;
            top: 0cm;
            left: 0cm;
            right: 0cm;
            height: 2cm;

            /* Estilos extra personales */
        }

        footer {
            position: fixed;
            bottom: 1cm;
            left: 0cm;
            right: 0cm;
            height: 1.5cm;
        }

        footer .page-number:after {
            content: counter(page);
        }
    </style>
    </style>
    <title>Document</title>


</head>

<body>

    <div class="">

        <table border="0" cellpadding="1" class="" cellspacing="1" style="width: 100%; font-size: 10px;">
            <tr>
                <td rowspan="4">
                    <img class="img img-fluid" alt="" style="height: 120px;" src="{{BASE_URL}}/assets/logos/itp.svg" />

                </td>
                <td>
                    <strong style="font-size: 9px;">
                         INSTITUCIÓN UNIVERSITARIA DEL PUTUMAYO
                        <br>NIT. 800.247.940-1
                    </strong>
                    <br> <br>
                    Sede Principal: "Aire Libre" Barrio Luis Carlos Galán Teléfono: 3103310083 <br>
                    Mocoa, Putumayo - Colombia <br>
                </td>
                <td style="vertical-align: bottom;">


                    {{#ifCond hasPayment false }}
                    <div
                        style="-webkit-transform: rotate(-90deg);  transform: rotate(-90deg);  width: 10px; margin: 2px; text-align: center;">
                        <p>Ordinario</p>
                    </div>
                    {{/ifCond}}



                </td>
                <td style="text-align: right">


                    <img src="data:image/png;base64,{{barcodeOrd}}" alt="" height="71" srcset="">

                </td>
            </tr>
            <tr>
                <td>
                    Periodo: {{infoStudent.nom_periodo}}</td>
                <td rowspan="4" style="vertical-align: bottom;">


                    {{#ifCond hasPayment false }}
                    <div
                        style="-webkit-transform: rotate(-90deg); transform: rotate(-90deg);  width: 10px; text-align: center;  margin: 2px;">
                        <p>Extraordinario</p>
                    </div>

                    {{/ifCond}}


                </td>
                <td rowspan="3" style="text-align: right; margin: 0px;">

                    {{#ifCond hasPayment true }}
                    <small style="background-color: #64dd17; padding: 5px;">Esta factura ya ha sido pagada</small>
                    {{/ifCond}}
                    <img src="data:image/png;base64,{{barcodeExt}}" alt="" height="71" srcset="">


                </td>
            </tr>
            <tr>
                <td rowspan="2" style="float: left; font-size: 10px;"> IES vigilada por: <br>
                    <img height="34"
                        src="https://upload.wikimedia.org/wikipedia/commons/0/0a/Logo_Ministerio_de_Educaci%C3%B3n_de_Colombia_2022-2026.png"
                        alt="" srcset="">
                </td>
            </tr>

        </table>


        <table style="width: 100%; font-size: 10px; border-collapse: collapse;" class="table-border" cellpadding="0"
            cellspacing="0">
            <tr>
                <td colspan="2">Sede: {{ infoStudent.siglas_colegio }} - {{infoStudent.nom_periodo}}</td>
                <th rowspan="2" style="color: black;">REF: {{id}}</th>
                <td rowspan="11"
                    style="border: 0px !important; padding-left: 8px; font-size: 12px; vertical-align: bottom; ">
                    <div style="-webkit-transform: rotate(-90deg); width: 10px; ">
                        <strong> ESTUDIANTE</strong>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">Programa: {{infoStudent.nom_nivel_educativo}}</td>
            </tr>
            <tr>
                <td colspan="2">Nombre: {{infoStudent.ape1_persona }} {{ infoStudent.ape2_persona }} {{
                    infoStudent.nom1_persona }} {{ infoStudent.nom2_persona}}</td>
                <td>Pago ordinario hasta : <strong style="float: right;">{{formatDateSimple
                        period.fechaFinMatricula}}</strong></td>
            </tr>

            <tr>
                <td>Identificación: {{infoStudent.tipo_doc}}-{{infoStudent.ide_persona}}</td>
                <td>Código matrícula: {{matriculaId}}</td>
                <td>Pago extraordinario hasta: <strong style="float: right;"> {{formatDateSimple
                        period.fechaFinMatriculaExt}}</strong>
                </td>
            </tr>
            <tr>
                <th colspan="2">CONCEPTO FACTURA</th>
                <th>DESCUENTOS</th>
            </tr>
            <tr>
                <td colspan="2" style="margin: 0px; padding: 0px;">


                    <table style="border: none; border-collapse: collapse; width: 100%;">
                        <tr style="border-top: none">
                            <th style="border-top: 0px solid;">Descripción</th>
                            <th style="border-top: 0px solid;">Valor Und</th>
                            <th style="border-top: 0px solid;">Cantidad</th>
                            <th style="border-top: 0px solid;">Descuento</th>
                            <th style="border-top: 0px solid;">Subtotal</th>

                        </tr>
                        {{#each detailInvoices }}
                        <tr>
                            <td style="font-size: 8px;">{{ concept.descripcion }}</td>
                            <td>{{valorUnidad}}</td>
                            <td>{{cantidad}}</td>
                            <td>{{percent descuento }} %</td>
                            <td>{{formatCurrency subtotal}}</td>
                        </tr>

                        {{/each}}

                    </table>


                    <ul>



                    </ul>
                </td>
                <td style="text-align: left;">
                    <ul style="font-size: 6px; margin: 3px;">
                        {{#each discounts }}
                        <li>{{discountCategory.descripcion}} {{percent porcentaje}} % </li>
                        {{/each}}
                    </ul>
                </td>
            </tr>
            <tr>
                <td rowspan="2" colspan="2" style="width: 70%;">
                    <div class="cash-payment-box">
                        <small class="cash-payment-title">Páguese en efectivo en cualquiera de los siguientes medios:</small>
                        <div class="cash-payment-content">
                            <div class="cash-payment-logos">
                                <img class="cash-payment-logo cash-payment-logo-supergiros" alt="SuperGIROS"
                                    src="{{BASE_URL}}/assets/logos/supergiros.png" />
                                <img class="cash-payment-logo cash-payment-logo-efecty" alt="Efecty"
                                    src="{{BASE_URL}}/assets/logos/efecty.jpeg" />
                            </div>
                            <div class="cash-payment-agreement">
                                <span>Convenio 25854</span>
                            </div>
                        </div>
                    </div>
                </td>
                <td class="total-ordinary" style="background: #64dd17;"> Pago ordinario :
                    <Strong style="float: right;">
                        $ {{formatCurrency totalOrdinario}}
                    </Strong>
                </td>

            </tr>

            <tr>
                <td class="total-extraordinary" style="background: #ff1744;"> Pago extraordinario :
                    <strong style="float: right;">$ {{formatCurrency totalExtraordinario}}
                    </strong>
                </td>
            </tr>

        </table>


    </div>
    <div style="text-align: left; margin-top: 2px; font-size: 8px;">Generado: {{formatDate generated}}</div>

    <hr>





</body>


</html>
